<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_AutomaticallyOpenPDF>
            <version>0.1.0</version>
        </MobWeb_AutomaticallyOpenPDF>
    </modules>
    <global>
        <models>
            <automaticallyopenpdf>
                <class>MobWeb_AutomaticallyOpenPDF_Model</class>
            </automaticallyopenpdf>
        </models>
        <helpers>
            <automaticallyopenpdf>
                <class>MobWeb_AutomaticallyOpenPDF_Helper</class>
            </automaticallyopenpdf>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <sales_order_invoice_save_after>
                <observers>
                    <automaticallyopenpdf>
                        <type>singleton</type>
                        <class>automaticallyopenpdf/observer</class>
                        <method>salesOrderInvoiceSaveAfter</method>
                    </automaticallyopenpdf>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <automaticallyopenpdf>
                        <type>singleton</type>
                        <class>automaticallyopenpdf/observer</class>
                        <method>salesOrderShipmentSaveAfter</method>
                    </automaticallyopenpdf>
                </observers>
            </sales_order_shipment_save_after>
            <controller_front_send_response_before>
                <observers>
                    <automaticallyopenpdf>
                        <type>singleton</type>
                        <class>automaticallyopenpdf/observer</class>
                        <method>controllerFrontSendResponseBefore</method>
                    </automaticallyopenpdf>
                </observers>
            </controller_front_send_response_before>
        </events>
    </adminhtml>
</config>